.panel {
    display: flex;
    flex-wrap: wrap ;
    justify-content: center;
    align-content: center;

   
    width: 100vw;
    height: 100%;
}
.panel_hijo {
    width: 330px;
    height: 370px;
    background: rgba(0, 174, 255, 0.068);
    margin: 5px;
    overflow-y: scroll;
    overflow-x: hidden;
}
.titulo {
    background: red;
    position: relative;
    z-index: 1000;
    width: inherit;
    height: 50px;
}
::-webkit-scrollbar {
    width: 0;
}
.centrada {
    text-align: center;
   
}
.lolo {
    display: flex;
    flex-direction: row;
}
